@import url("/style.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
.ct-input-div {
  display: flex;
  flex-direction: column;
}
.ct-input {
  padding: 0.6rem;
  border: 1px solid var(--blue-500);
  /* outline-color: var(--blue-500); */
  outline: none;
}
.ct-filled {
  padding: 0.6rem;
  /* border: 1px solid var(--blue-500); */
  border: none;
  outline-color: var(--blue-500);
  background: var(--blue-300);
}

.ct-base-bd {
  padding: 0.6rem;
  border: none;
  border-bottom: 1px solid var(--blue-500);
  outline: none;
}
.ct-unstyle {
  padding: 0.6rem;
  border: none;
  outline-color: var(--blue-500);
}

.ct-input-error {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--red-500);
  padding: 0.4rem 0.6rem;
  color: var(--red-500);
}

.ct-input-error .ct-error-icon {
  border: none;
  outline: none;
}

.ct-input-check {
  /* Temoporary margin below make sure to remove in main lib.  */
  /* margin-top: 0.5rem; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--green-500);
  padding: 0.4rem 0.6rem;
  color: var(--green-500);
}

.ct-input-check .ct-check-icon {
  border: none;
  outline: none;
}

.ct-checkbox[type="checkbox"],
.ct-radio[type="radio"] {
  accent-color: var(--green-500);
}
.ct-form {
  margin: 1rem;
  padding: 1rem;
  width: 300px;
  border: 1px solid var(--gray-300);
  color: var(--text);
}
.ct-form > * {
  margin: 0.6rem 0rem;
}

.ct-form-btn {
  width: 100%;
  padding: 0.8rem;
  border: none;
  font-weight: 700;
  background: var(--blue-500);
  color: var(--gray-300);
  cursor: pointer;
  transition: all 250ms ease;
}
.ct-form-btn:hover {
  background: var(--blue-700);
}
