:root {
  /* color theme of lib  */
  --heading: #222831;
  --text: #393e46;
  --primary: #00adb5;
  --body: #f7f7f7;

  /* Default color VIBGYOR */

  --violet-300: #c4b5fd;
  --violet-500: #8b5cf6;
  --violet-700: #6d28d9;

  --indigo-300: #a5b4fc;
  --indigo-500: #6366f1;
  --indigo-700: #4338ca;

  --blue-300: #93c5fd;
  --blue-500: #3b82f6;
  --blue-700: #1d4ed8;

  --green-300: #86efac;
  --green-500: #22c55e;
  --green-700: #15803d;

  --yellow-300: #fde047;
  --yellow-500: #eab308;
  --yellow-700: #a16207;

  --orange-300: #fdba74;
  --orange-500: #f97316;
  --orange-700: #c2410c;

  --red-300: #fca5a5;
  --red-500: #ef4444;
  --red-700: #b91c1c;
}
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
}
.ct-component {
  width: 60%;
  border-bottom: 1px solid black;
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;
}
